

<h1>{{name}}</h1> 
<h2>{{gender}} | {{age}} | {{location}}</h2>

<h4>
  {{group1}} | {{group2}} | {{group3}} | {{group4}} | {{group5}}  
</h4>
<h4>
  {{group6}} | {{group7}} | {{group8}} | {{group9}} | {{group10}}
</h4>