{{!-- <h2>{{name}}</h2> 
<h4>{{gender}} | {{age}} | {{location}}</h4>

<p>
  {{group1}} | {{group2}} | {{group3}} | {{group4}} | {{group5}}  
</p>
<p>
  {{group6}} | {{group7}} | {{group8}} | {{group9}} | {{group10}}
</p> --}}